/** Dark theme variables */
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700");
:root { --base-color: #DBDBDB; --border: dashed 1px rgba(219, 219, 219, 0.9); --selection-background: rgba(219, 219, 219, 0.99); --selection-text: #000; --background-color: #000; --highlight-background: #080808; --text-color: var(--base-color); --placeholder-color: var(--base-color); --link-color: var(--base-color); --code-color-1: #aaaaaa; --code-color-2: #ffffcc; --code-color-3: #F00000; --code-color-4: #F0A0A0; --code-color-5: #b38aff; --code-color-6: #5ba711; --code-color-7: #e4e477; --code-color-8: #000080; --code-color-9: #05ca05; --code-color-10: #888888; --code-color-11: #555555; --code-color-12: #800080; --code-color-13: #00d4d4; --code-color-14: #00c1c1; --code-color-15: #ed9d13; --code-color-16: #1e90ff; --code-color-17: #800000; --code-color-18: #bbbbbb; }

/** Style variables */
/** Global */
body { background-color: var(--background-color); margin: 0 auto; padding: 0; font-family: "Envy Code R"; font-size: 16px; color: var(--text-color); text-align: left; line-height: 1.5 !important; }

h1, h2, h3, h4, h5, h6 { font-size: 16px; margin: 0px; margin-top: 22px; font-weight: bold; color: var(--text-color); }

p, ul, ol { margin: 0px; color: var(--text-color); }

img { display: inline-block; margin-left: auto; margin-right: auto; }

a { text-decoration: none; color: var(--link-color); }

a:hover { color: var(--background-color); background-color: var(--base-color); }

@media only screen and (max-device-width: 500px) { * { font-size: 13px !important; } }

/** Layout */
.container { width: 90%; max-width: 600px; margin-right: auto; margin-left: auto; }

p { word-wrap: break-word; word-break: break-word; white-space: pre-wrap; margin-bottom: 15px; }

footer { color: var(--text-color); border-top: var(--border); margin: 20px auto 15px; padding-top: 10px; text-align: right; }

header { margin-top: 25px; margin-bottom: 10px; text-align: left; }

header p { text-align: center; margin: auto; }

footer { margin-bottom: 20px; }

/** Highlight/Markup */
::selection { background: var(--highlight-background); color: var(--selection-text); }

::-moz-selection { background: var(--highlight-background); color: var(--selection-text); }

/** Lists */
:not(.menu) > ul { list-style-type: none; }

:not(.menu) > ul > li:before { content: "-"; margin-right: 9px; }

/** Header/Navigation */
.menu { border-top: var(--border); border-bottom: var(--border); margin-bottom: 25px; }

.menu ul { margin-top: 12px; margin-bottom: 12px; padding-left: 0px; list-style-type: none; text-align: right; }

.menu ul li { display: inline; margin-left: 10px; }

.menu ul li a { text-decoration: none; color: var(--text-color); }

.menu ul li a:hover { text-decoration: none; color: var(--background-color); background-color: var(--base-color); }

/** Form */
input, select, textarea { padding: 0; margin: 0; -webkit-appearance: none; -webkit-border-radius: 0; border: none; }

input[type=text], select, textarea { width: 100%; resize: none; background-color: var(--background-color); color: var(--text-color); caret-color: var(--text-color); font-size: 16px; font-family: "Envy Code R"; line-height: 1.5; }

input, select, textarea, textarea::-webkit-input-placeholder { text-indent: 0px; }

::placeholder { color: var(--placeholder-color); opacity: 1; }

:-ms-input-placeholder { color: var(--placeholder-color); }

::-ms-input-placeholder { color: var(--placeholder-color); }

input[type=submit] { font-size: 16px; font-family: "Envy Code R"; line-height: 1.5; cursor: pointer; color: var(--link-color); background-color: var(--background-color); }

input[type=submit]:hover { color: var(--background-color); background-color: var(--base-color); }

*:focus { outline: none; }

textarea { vertical-align: top; }

/** Code and syntax highlighting */
blockquote { background-color: var(--highlight-background); padding-left: 10px; }

.lineno { color: var(--code-color-1); margin-right: 15px; }

figure.highlight { margin: 5px 0; }

pre { background-color: var(--highlight-background); border: none; padding: 0; margin: 0; overflow: auto; font-size: 16px; color: var(--text-color); line-height: 1.7 !important; font-family: "Envy Code R" !important; }

.highlight .hll { background-color: var(--code-color-2); }

.highlight .c { color: var(--code-color-1); font-style: italic; }

/* Comment */
.highlight .err { color: var(--code-color-3); background-color: var(--code-color-4); }

/* Error */
.highlight .k { color: var(--code-color-5); }

/* Keyword */
.highlight .cm { color: var(--code-color-1); font-style: italic; }

/* Comment.Multiline */
.highlight .cp { color: var(--code-color-6); }

/* Comment.Preproc */
.highlight .c1 { color: var(--code-color-1); font-style: italic; }

/* Comment.Single */
.highlight .cs { color: var(--code-color-5); font-style: italic; }

/* Comment.Special */
.highlight .gd { color: var(--code-color-7); }

/* Generic.Deleted */
.highlight .ge { font-style: italic; }

/* Generic.Emph */
.highlight .gr { color: var(--code-color-7); }

/* Generic.Error */
.highlight .gh { color: var(--code-color-8); font-weight: bold; }

/* Generic.Heading */
.highlight .gi { color: var(--code-color-9); }

/* Generic.Inserted */
.highlight .go { color: var(--code-color-10); }

/* Generic.Output */
.highlight .gp { color: var(--code-color-11); }

/* Generic.Prompt */
.highlight .gs { font-weight: bold; }

/* Generic.Strong */
.highlight .gu { color: var(--code-color-12); font-weight: bold; }

/* Generic.Subheading */
.highlight .gt { color: var(--code-color-7); }

/* Generic.Traceback */
.highlight .kc { color: var(--code-color-5); }

/* Keyword.Constant */
.highlight .kd { color: var(--code-color-5); }

/* Keyword.Declaration */
.highlight .kn { color: var(--code-color-5); }

/* Keyword.Namespace */
.highlight .kp { color: var(--code-color-5); }

/* Keyword.Pseudo */
.highlight .kr { color: var(--code-color-5); }

/* Keyword.Reserved */
.highlight .kt { color: var(--code-color-13); }

/* Keyword.Type */
.highlight .m { color: var(--code-color-14); }

/* Literal.Number */
.highlight .s { color: var(--code-color-15); }

/* Literal.String */
.highlight .na { color: var(--code-color-16); }

/* Name.Attribute */
.highlight .nb { color: var(--code-color-13); }

/* Name.Builtin */
.highlight .nc { color: var(--code-color-9); text-decoration: underline; }

/* Name.Class */
.highlight .no { color: var(--code-color-7); }

/* Name.Constant */
.highlight .nd { color: var(--code-color-10); }

/* Name.Decorator */
.highlight .ni { color: var(--code-color-17); font-weight: bold; }

/* Name.Entity */
.highlight .nf { color: var(--code-color-9); }

/* Name.Function */
.highlight .nn { color: var(--code-color-13); text-decoration: underline; }

/* Name.Namespace */
.highlight .nt { color: var(--code-color-16); font-weight: bold; }

/* Name.Tag */
.highlight .nv { color: var(--code-color-7); }

/* Name.Variable */
.highlight .ow { color: var(--code-color-5); }

/* Operator.Word */
.highlight .w { color: var(--code-color-18); }

/* Text.Whitespace */
.highlight .mf { color: var(--code-color-14); }

/* Literal.Number.Float */
.highlight .mh { color: var(--code-color-14); }

/* Literal.Number.Hex */
.highlight .mi { color: var(--code-color-14); }

/* Literal.Number.Integer */
.highlight .mo { color: var(--code-color-14); }

/* Literal.Number.Oct */
.highlight .sb { color: var(--code-color-15); }

/* Literal.String.Backtick */
.highlight .sc { color: var(--code-color-15); }

/* Literal.String.Char */
.highlight .sd { color: var(--code-color-15); }

/* Literal.String.Doc */
.highlight .s2 { color: var(--code-color-15); }

/* Literal.String.Double */
.highlight .se { color: var(--code-color-15); }

/* Literal.String.Escape */
.highlight .sh { color: var(--code-color-15); }

/* Literal.String.Heredoc */
.highlight .si { color: var(--code-color-15); }

/* Literal.String.Interpol */
.highlight .sx { color: var(--code-color-15); }

/* Literal.String.Other */
.highlight .sr { color: var(--code-color-14); }

/* Literal.String.Regex */
.highlight .s1 { color: var(--code-color-15); }

/* Literal.String.Single */
.highlight .ss { color: var(--code-color-5); }

/* Literal.String.Symbol */
.highlight .bp { color: var(--code-color-13); }

/* Name.Builtin.Pseudo */
.highlight .vc { color: var(--code-color-7); }

/* Name.Variable.Class */
.highlight .vg { color: var(--code-color-7); }

/* Name.Variable.Global */
.highlight .vi { color: var(--code-color-7); }

/* Name.Variable.Instance */
.highlight .il { color: var(--code-color-14); }

/* Literal.Number.Integer.Long */

/*# sourceMappingURL=main-dark.css.map */